{#
/**
 * @file marketo-form-embed.html.twig
 * Default theme implementation to present Marketo Forms.
 *
 * This template is used when viewing Marketo Form pages.
 *
 * Available variables:
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_marketo_form()
 *
 * @ingroup themeable
 */
#}
<div {{ create_attribute({'class': ['marketo-steps-wrapper', 'step-1']}) }}>
  <div{{ create_attribute({'class': ['marketo-form', 'marketo-step', "marketo-step-1"]}) }}>
    <form{{ form_attributes }}></form>
  </div>
</div>