////
/// Paragraphs - Compound
////

.paragraph--type--compound-content-bar {
  @include paragraph-margins();
  text-align: center;
  > .paragraph-content {
    @include content-width(wide);
    > .field--name-field-heading {
      @include breakpoint(large) {
        @include content-width(narrow);
        margin-bottom: rem-calc(40);
      }
    }
    > .field--name-field-description {
      margin-bottom: 10px;
      @include breakpoint(medium) {
        @include content-width(narrow);
          margin-bottom: rem-calc(20);
      }
    }
    > .field--name-field-p-multiple-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      @include breakpoint(large) {
        margin-top: 40px;
      }
      .paragraph {
        margin: 0 10px;
        + .paragraph {
          a {
            @include link();
          }
        }
      }
    }
  }

  &.columns-wide {
    .field--name-field-p-compound-content {
      @include content-width(wide);
      @include breakpoint(marge) {
        @include tk-flex-equal-width-items($grid-column-gutter, '.paragraph');
      }
    }
  }

  &.columns-narrow {
    .field--name-field-p-compound-content {
      @include content-width(narrow);
      @include breakpoint(medium) {
        @include tk-flex-equal-width-items($grid-column-gutter, '.paragraph');
      }
    }
  }
}

.paragraph--type--compound-stat-bar {
  @include paragraph-margins();
  background: $light-gray;
  padding: 40px 0;
  @include breakpoint(large) {
    padding: 80px 0;
  }
  > .paragraph-content {
    @include content-width(default);
  }
  .field--name-field-p-stat-content {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    > .paragraph {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      @include breakpoint(medium) {
        width: 30%;
        margin-left: 5%;
        margin-bottom: 0;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
