////
/// Paragraphs - Layout
////

.paragraph--type--layout-2-column {
  & > .paragraph-content {
    @include content-width(default);
    position: relative;
    @include breakpoint(medium) {
      display: flex;
    }

    .field--name-field-p-layout-content {

      @include breakpoint(medium) {
        flex: 3;
        max-width: rem-calc(685);
        padding-right: rem-calc(40);
      }
      @include breakpoint(large) {
        padding-right: rem-calc(80);

      }
    }

    .field--name-field-p-layout-media {
      margin-top: rem-calc(32);

      @include breakpoint(medium) {
        flex: 1;
        margin-top: 0;
      }

      & > .paragraph {
        height: 100%;

        @include breakpoint(medium) {
          min-width: rem-calc(340);
        }

        & > .paragraph-content {
          height: 100%;
        }
      }
    }
  }

  &.media-left {
    & > .paragraph-content {
      .field--name-field-p-layout-content {

        @include breakpoint(medium) {
          padding-right: 0;
          padding-left: rem-calc(40);
        }
        @include breakpoint(large) {
          padding-right: 0;
          padding-left: rem-calc(80);
        }
      }
    }
  }

  &.column-width-50_50 {
    & > .paragraph-content {
      display: block;
      @include breakpoint(marge) {
        display: flex;
      }
    }
    .field--name-field-p-layout-content {
      flex: 0 0 50%;
    }

    .field--name-field-p-layout-media {
      flex: 0 0 50%;
      margin-top: rem-calc(32);
      @include breakpoint(marge) {
        margin-top: 0;
      }
    }
  }
}

.paragraph--type--layout-grid {
  & > .paragraph-content {
    @include content-width(default);
    text-align: center;

    > .field--name-field-heading {
      @include breakpoint(large) {
        @include content-width(narrow);
      }
    }
    > .field--name-field-description {
      margin-bottom: rem-calc(48);
      @include breakpoint(medium) {
        @include content-width(narrow);
      }
    }
  }

  .field--name-field-p-grid-content {
    justify-content: center;
    @include breakpoint(medium) {
      @include tk-flex-block-grid(2, '.paragraph');
    }

    @include breakpoint(marge) {
      @include tk-flex-block-grid(3, '.paragraph');
    }
  }

  &.column-count-2 {
    .field--name-field-p-grid-content {
      @include breakpoint(marge) {
        @include tk-flex-block-grid(2, '.paragraph');
      }
    }
  }

  &.column-count-4 {
    .field--name-field-p-grid-content {
      @include breakpoint(marge) {
        @include tk-flex-block-grid(4, '.paragraph');
      }
    }
  }
}