////
/// Paragraphs - Link
////

.paragraph--type--link-form-modal {
  .paragraph--type--reference-marketo-form {
    display: none;
  }
}

.paragraph--type--link-url {
  a {
    //@include btn(blue);
    .menu-dropdown & {
      @include breakpoint(medium down) {
        color: inherit;
      }
      @include breakpoint(marge) {
        @include btn(ghost);
      }
      /* IE10+ CSS styles go here */
      @media (min-width: 800px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        border: 0 solid;
        color: $secondary-color;
      }
    }
  }
}
