////
/// Paragraphs - General Styling
////

.field--name-field-p-content {
  & > .paragraph {
    @include paragraph-margins();
    &.paragraph--type--reference-block {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.paragraph {

  p:last-child {
    margin-bottom: 0;
  }

  &.with-bg {
    position: relative;
    margin: 0;
    @include top-bottom(padding, $paragraphs-default-spacing);
  }

  @each $name, $color in $bg-colors {
    &.bg-color-#{$name} {
      background: $color;
      & + & {
        padding-top: 0;
      }
    }
  }
}