////
/// Paragraphs - Reference
////

.paragraph--type--reference-card-browser {
  .field--name-field-p-content > & {
    @include paragraph-margins((small: 0));
  }
}

.paragraph--type--reference-marketo-form {
  background: $blue-gradient-reverse;
  padding: rem-calc(20);
  color: $white;

  .marketo-form-description {
    margin-bottom: rem-calc(16);
  }
}

.paragraph--type--reference-featured-insight {

  .field--name-field-p-content > & {
    @include paragraph-margins((small: 0));
  }

  background: $gray-gradient;
  padding: 40px 0;
  @include breakpoint(medium) {
    padding: 60px 0;
  }
  @include breakpoint(large) {
    padding: 95px 0;
  }
  .paragraph-content {
    @include content-width(default);
  }
}

.paragraph--type--reference-block {
  .paragraph-content {
    @include content-width(default);
  }
}
