////
/// Paragraphs - Simple
////


.paragraph--type--simple-content {

  .field--name-field-p-multiple-links {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }

  .paragraph--type--compound-content-bar & {
    .field--name-field-heading {
      color: $secondary-color-dark;
    }

    .field--name-field-p-multiple-links {
      justify-content: center;

      & > .paragraph {
        margin: 0 8px;
        a {
          @include link(default);
        }

        &:nth-last-child(2) {
          a {
            @include btn(blue);
          }
        }
      }
    }
  }

  .color-scheme-dark &,
  &.color-scheme-dark {
    @include color-scheme();
  }

  .paragraph--type--layout-2-column & {
    .field--name-field-heading {
      margin-bottom: rem-calc(28);
    }

    .field--name-field-p-multiple-links {

      & > .paragraph {
        margin: 0 8px;
        a {
            @include link(default);
        }

        &:first-child {
          margin-left: 0;
          a {
            @include btn(blue);
          }
        }
      }
    }
  }

  .paragraph--type--layout-2-column.color-scheme-dark & {
    .field--name-field-p-multiple-links {

      & > .paragraph {
        a {
          @include link(white);
        }

        &:first-child {
          a {
            @include btn(ghost-white);
          }
        }
      }
    }
  }
}

// Simple - CTA
.paragraph--type--simple-cta {
  background: $blue-gradient-reverse;
  @include top-bottom(padding, rem-calc(40));

  .field--name-field-p-content > & {
    @include paragraph-margins((small: 0));
  }

  & > .paragraph-content {
    @include content-width(narrow);
    text-align: center;

    .field--name-field-heading {
      color: $white;
    }

    .field--name-field-p-link a {
      @include btn(ghost-white);
      margin-top: rem-calc(20);

      @include breakpoint(medium) {
        margin-top: rem-calc(40);
      }
    }
  }

  // When placed on insight
  .field--name-field-p-insight &,
  .field--name-field-p-sidebar & {
    @include top-bottom(padding, rem-calc(40));
    @include breakpoint(medium) {
      min-height: 190px;
    }
    @include breakpoint(large) {
      min-height: 215px;
    }
    @include breakpoint(xlarge) {
      min-height: 245px;
    }

    & > .paragraph-content {
      text-align: left;
      @include left-right(padding, rem-calc(40));

      .field--name-field-heading {
        font-size: rem-calc(20);
        font-weight: $global-weight-bold;
      }
    }

    .field--name-field-p-link a {
      margin-top: rem-calc(20);
    }
  }
}

// Simple Icon Content
.paragraph--type--simple-icon-content {
  > .paragraph-content {
    display: flex;
    align-items: center;
    font-size: rem-calc(13);
    line-height: 1.3;

    .field--name-field-media-image {
      margin-right: rem-calc(12);

      img {
        min-width: 33px;
      }
    }

    .field--name-field-description {
      display: none;

      .paragraph--type--banner-hero & {
        max-width: rem-calc(150);
      }

      @include breakpoint(medium) {
        display: block;
      }
    }

    .field--name-field-mobile-description {
      @include breakpoint(medium) {
        display: none;
      }
    }
  }
}

// Simple - Media Tile
.paragraph--type--simple-media-tile {
  & > .paragraph-content {
    background: $white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    padding: rem-calc(50);
    height: 100%;
    @include frame($secondary-color-light, 1px, 16px, 3px, $z-index: z(video-modal,flourish));
    position: relative;

    .field--name-field-p-media {
      position: relative;
      z-index: z(just-above);

      .paragraph--type--media-image {
        position: relative;
        top: rem-calc(-70);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
        display: inline-block;
        margin-bottom: rem-calc(-50);

        div {
          display: inline-block;
        }
      }
    }

    .content {
      margin: 0 auto;
      position: relative;
      z-index: z(just-above);

      @include breakpoint(medium) {
        max-width: rem-calc(175);
      }
    }

    .field--name-field-heading {
      color: $secondary-color-dark;
      font-size: rem-calc(20);
    }

    .field--name-field-description {
      font-size: rem-calc(14);
    }

    .field--name-field-link a {
      @include link(default);
      display: block;
      margin-top: rem-calc(16);
    }
  }
}

// Simple - Stat
.paragraph--type--simple-stat {
  .paragraph-content {
    display: flex;
    align-content: center;
    justify-content: center;

    .field--name-field-p-media {
      min-width: rem-calc(100);
      margin-right: rem-calc(16);
      display: flex;
      align-items: center;

      @include breakpoint(medium) {
        min-width: rem-calc(100);
      }
    }

    .field--name-field-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: rem-calc(100);
    }
  }

  .paragraph--type--layout-2-column & {
    .paragraph-content {
      //align-content: center;
      justify-content: flex-start;
    }
    .field--name-field-description p {
      font-size: rem-calc(13);
    }
  }
}