////
/// Paragraphs - Simple
////


.paragraph--type--simple-content {

  .field--name-field-p-multiple-links {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }

  .paragraph--type--compound-content-bar & {
    .field--name-field-heading {
      color: $secondary-color-dark;
    }

    .field--name-field-p-multiple-links {
      justify-content: center;

      & > .paragraph {
        margin: 0 8px;
        a {
          @include link(default);
        }

        &:nth-last-child(2) {
          a {
            @include btn(blue);
          }
        }
      }
    }
  }

  .color-scheme-dark &,
  &.color-scheme-dark {
    @include color-scheme();
  }

  .paragraph--type--layout-2-column & {
    .field--name-field-heading {
      margin-bottom: rem-calc(28);
    }

    .field--name-field-p-multiple-links {

      & > .paragraph {
        margin: 0 8px;
        a {
            @include link(default);
        }

        &:first-child {
          margin-left: 0;
          a {
            @include btn(blue);
          }
        }
      }
    }
  }

  .paragraph--type--layout-2-column.color-scheme-dark & {
    .field--name-field-p-multiple-links {

      & > .paragraph {
        a {
          @include link(white);
        }

        &:first-child {
          a {
            @include btn(ghost-white);
          }
        }
      }
    }
  }
}

// Simple - CTA
.paragraph--type--simple-cta {
  background: $blue-gradient-reverse;
  @include top-bottom(padding, rem-calc(40));

  .field--name-field-p-content > & {
    @include paragraph-margins((small: 0));
  }

  & > .paragraph-content {
    @include content-width(narrow);
    text-align: center;

    .field--name-field-heading {
      color: $white;
    }

    .field--name-field-p-link a {
      @include btn(ghost-white);
      margin-top: rem-calc(20);

      @include breakpoint(medium) {
        margin-top: rem-calc(40);
      }
    }
  }

  // When placed on insight
  .field--name-field-p-insight & {
    @include top-bottom(padding, rem-calc(40));

    & > .paragraph-content {
      text-align: left;
      @include left-right(padding, rem-calc(40));

      .field--name-field-heading {
        font-size: rem-calc(20);
        font-weight: $global-weight-bold;
      }
    }

    .field--name-field-p-link a {
      margin-top: rem-calc(20);
    }
  }
}

// Simple - Stat
.paragraph--type--simple-stat {
  .paragraph-content {
    display: flex;
    align-content: center;
    justify-content: center;

    .field--name-field-p-media {
      min-width: rem-calc(100);
      margin-right: rem-calc(16);
      display: flex;
      align-items: center;

      @include breakpoint(medium) {
        min-width: rem-calc(100);
      }
    }

    .field--name-field-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: rem-calc(100);
    }
  }

  .paragraph--type--layout-2-column & {
    .paragraph-content {
      //align-content: center;
      justify-content: flex-start;
    }
    .field--name-field-description p {
      font-size: rem-calc(13);
    }
  }
}