////
/// Paragraphs - Summary
////

.paragraph--type--summary-insights {
  .node--content & {
    @include paragraph-paddings;

    > .paragraph-content {
      @include content-width(default);
      @include breakpoint(marge down) {
        display: flex;
        flex-wrap: wrap;
      }
      @include breakpoint(large) {
        @include clear;
      }
    }

    .field--name-field-heading {
      width: 100%;
      margin-bottom: 20px;
      color: $secondary-color-dark;
      font-family: $body-font-family;
      font-size: rem-calc(32);
      font-weight: $global-weight-light;
      line-height: rem-calc(40);

      @include breakpoint(small down) {
        margin-bottom: 8px;
      }
      @include breakpoint(medium) {
        text-align: center;
      }
      @include breakpoint(large) {
        width: 24%;
        float: left;
        margin-bottom: 8px;
        text-align: left;
      }
    }

    .summary-output {
      @include breakpoint(small down) {
        order: 2;
        margin-top: 30px;
      }
      @include breakpoint(medium) {
        @include tk-flex-block-grid(3, 'article', $gutter: 18px);

        &:first-child {
          margin-left: 0;
          margin-right: 0;
        }
      }
      @include breakpoint(large) {
        width: 76%;
        float: right;

        &:first-child {
          width: auto;
          float: none;
        }
      }

      > article {
        margin-bottom: 20px;
        @include breakpoint(medium) {
          margin-bottom: 0;
        }
      }
    }

    .field--name-field-p-link {
      @include breakpoint(marge down) {
        order: 4;
        width: 100%;
        margin-top: 20px;
        text-align: center;
      }
      @include breakpoint(small down) {
        order: 1;
        margin-top: 0;
        text-align: left;
      }
      @include breakpoint(large) {
        float: left;
        width: 24%;
      }

      a {
        @include link(default);
        color: $secondary-color;
        font-size: rem-calc(14);
        font-weight: $global-weight-bold;
        text-transform: capitalize;
        @include breakpoint(small down) {
          border-bottom: 1px solid;
          padding-bottom: 3px;
          font-size: rem-calc(15);
        }
      }
    }

    .field--name-field-description {
      width: 24%;
      float: left;
      padding-top: 15px;
      font-size: rem-calc(13);
      @include breakpoint(marge down) {
        order: 5;
        width: 100%;
        float: none;
      }
    }
  }

  .node--sidebar & {
    @include paragraph-margins((small: 0));

    &.bg-color-gray {
      background: none;
    }
    .field--name-field-heading {
      color: $secondary-color-dark;
      font-family: $body-font-family;
      font-size: rem-calc(20);
      font-weight: $global-weight-bold;
    }

    .summary-output {
      > article {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .node--type-insight.node--view-mode-unlocked .node--content & {
    margin-left: calc((100vw - 100%)/ (-2));
    margin-right: calc((100vw - 100%) / (-2));
  }
}

.paragraph--type--summary-cards {
  > .paragraph-content {
    @include content-width(default);
    @include breakpoint(marge down) {
      display: flex;
      flex-wrap: wrap;
    }
    @include breakpoint(large) {
      @include clear;
    }
  }

  .field--name-field-heading {
    width: 100%;
    margin-bottom: 20px;
    color: $secondary-color-dark;
    font-family: $body-font-family;
    font-size: rem-calc(32);
    font-weight: $global-weight-light;
    line-height: rem-calc(40);

    @include breakpoint(small down) {
      margin-bottom: 15px;
    }
    @include breakpoint(medium) {
      text-align: center;
    }
    @include breakpoint(large) {
      width: 24%;
      float: left;
      margin-bottom: 24px;
      text-align: left;
    }
  }

  .field--name-field-p-multiple-links {
    @include breakpoint(marge down) {
      order: 4;
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
    @include breakpoint(small down) {
      order: 1;
      margin-top: 0;
      text-align: left;
    }
    @include breakpoint(large) {
      float: left;
      width: 24%;
    }

    a {
      @include btn(blue);
    }
  }

  .field--name-field-cards {
    //display: none;
    @include breakpoint(marge) {
      @include tk-flex-equal-width-items($grid-column-gutter);
    }

    .card {
      .field--name-name {
        margin-top: 16px;
        margin-bottom: 10px;
        font-size: rem-calc(16);
        font-weight: $global-weight-bold;
        color: $secondary-color-dark;
      }

      .features {
        padding: 0;

        .type {
          display: inline-block;
        }
      }
    }

  }

  /*#card-summary {
    width: 100%;

    @include breakpoint(small down) {
      order: 2;
      margin-top: 30px;
    }
    @include breakpoint(large) {
      width: 76%;
      float: right;
    }

    .all-cards {
      @include breakpoint(marge down) {
        margin-left: 0;
        margin-right: 0;
      }
      @include breakpoint(medium) {
        @include tk-flex-block-grid(3, '.card', $gutter: 32px);
      }
    }

    .card-list {
      .card {
        .card-overview {
          display: block;
          margin-bottom: 20px;
          @include breakpoint(medium) {
            margin-bottom: 0;
          }

          .media {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            .media-content {
              width: auto;
              @include breakpoint(medium) {
                width: 100%;
              }
              img {
                width: 100%;
              }
            }
          }

          .card-title {
            margin-bottom: 20px;
            font-size: rem-calc(16);
            font-weight: $global-weight-bold;
            color: $secondary-color-dark;
          }

          .features {
            padding-top: 15px;
            border-top: 0;
            border-bottom-width: 1px;

            .cost {
              display: inline-block;
              margin-left: 7px;
              font-size: rem-calc(14);
              font-weight: $global-weight-bold;
              color: $secondary-color-dark;
            }
          }

          .view-details {
            margin-top: 12px;
          }
        }
      }
    }
  }*/
}
