////
/// Framework - Buttons
/// @group frameworkComponents
////


$buttons: (
  default: (
    background: #777,
    color: #fff,
    border: #ccc,
    active-background: #555,
    active-color: #fff,
    active-border: #ccc
  )
) !default;

/// Standard button style mixin
/// @param {String} $button-key - the key in the $buttons map to use from config
@mixin btn($button-key) {
  $button: extend-in-map($buttons, $button-key);

  @include disable-mouse-outline;
  display: inline-block;
  padding: 9px 16px;
  font-size: rem-calc(14);
  line-height: 1.5;
  font-weight: 700;
  border-radius: 18px;
  appearance: none;

  @if (map-has-key($button, border)) {
    border: 1px solid key($button, border);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  background: key($button, background);
  color: key($button, color);

  @include selectors(active) {

    @if (map-has-key($button, active-background)) {
      background: key($button, active-background);
    }
    @if (map-has-key($button, active-color)) {
      color: key($button, active-color);
    }

    @if (map-has-key($button, active-border)) {
      border-color: key($button, active-border);
    }
  }
}
