////
/// Framework - Buttons
/// @group frameworkComponents
////


$buttons: (
  default: (
    background: #777,
    color: #fff,
    border: #ccc,
    active-background: #555,
    active-color: #fff,
    active-border: #ccc
  )
) !default;

/// Standard button style mixin
/// @param {String} $button-key - the key in the $buttons map to use from config
@mixin btn($button-key, $size: small) {
  $button: extend-in-map($buttons, $button-key);
  $radius: 18px;

  @include disable-mouse-outline;
  display: inline-block;
  padding: 9px 16px;
  font-size: rem-calc(14);
  line-height: 1.5;
  font-weight: $global-weight-bold;
  border-radius: $radius;
  appearance: none;
  transition: all 0.5s ease;
  background: key($button, background);

  color: key($button, color);
  appearance: none;

  @if ($size == small) {
    padding: 8px 12px;
    font-size: 14px;
  } @else if ($size == large) {
    padding: 12px 20px;
    font-size: 16px;
  }

  @if (map-has-key($button, border)) {
    border: 2px solid key($button, border);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      border: 0 solid key($button, border);
    }
  }

  @if (map-has-key($button, gradient)) {
    background-image: key($button, gradient);
    background-size: 250% auto;
  }

  @if (map-has-key($button, gradient-text)) {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -2px;
      top: -2px;
      bottom: -2px;
      right: -2px;
      background: key($button, gradient-text);
      border-radius: $radius;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: key($button, gradient);
      background-size: 250% auto;
      border-radius: $radius;
      transition: all 0.5s ease;
    }
    @supports (-webkit-text-fill-color: transparent) {
      background: key($button, gradient-text);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @include selectors(active) {
    border-color: key($button, active-border);
    background: key($button, active-background);
    color: key($button, active-color);
    @if (map-has-key($button, gradient)) {
      background-position: 90% center;
    }

    @if (map-has-key($button, gradient-active)) {
      background-image: key($button, gradient-active);
    }

    @if (map-has-key($button, gradient-text)) {
      background: key($button, active-background);
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: key($button, active-color);
      &:after {
        background-position: 90% center;
        background-image: key($button, gradient-active);
      }
    }
  }
}
