////
/// Framework - Custom Style Patterns
/// @group frameworkComponents
////

@mixin paragraph-margins($spacing: $paragraph-spacing) {
  @if type-of($spacing == map) {
    @each $bp, $size in $spacing {
      $size: rem-calc($size);
      @include breakpoint($bp) {
        @include top-bottom(margin, $size);
      }
    }
  }
}

@mixin insight-label($font-size: 11) {
  font-size: rem-calc($font-size);
  line-height: 2;
  padding: 2px 7px;
  background: rgba($black, 0.25);
  border-radius: 3px;
}