////
/// Framework - Links
/// @group frameworkComponents
////

$links: (
  default: (
    color: navy,
    font-weight: 400,
    active-color: skyblue
  )
) !default;

/// Standard link style mixin
/// @param {String} $link-key - the key in the $buttons map to use from config
/// @example
///   @include link(inline)
@mixin link($link-key: default) {
  $link-conf: extend-in-map($links, $link-key);
  display: inline-block;
  vertical-align: baseline;

  font-size: rem-calc(14);
  line-height: 1.25;
  color: key($link-conf, color);
  font-weight: key($link-conf, font-weight);
  padding: 0;
  border: 0;
  position: relative;

  &:after {
    width: 0%;
    height: 2px;
    display: block;
    background: key($link-conf, background);
    content:'';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @if (map-has-key($link-conf, background)) {
    @supports (-webkit-text-fill-color: transparent) {
      background: key($link-conf, background);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @supports (-webkit-text-fill-color: transparent) {
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: key($link-conf, color);
  }

  @include selectors(active) {
    @if (map-has-key($link-conf, active-color)) {
      //color: key($link-conf, active-color);
    }
    @if (map-has-key($link-conf, active-background)) {
      @supports (-webkit-text-fill-color: transparent) {
        background: key($link-conf, active-background);
        -webkit-background-clip: text;
      }
    }

    &:after {
      width: 80%;
      background: key($link-conf, background);
      left: 10%;
    }
  }
}
