////
/// Insight
////

.node--type-insight {

  &.node--view-mode-full,
  &.node--view-mode-gated {

    position: relative;
    z-index: z(content, base);
    > .node--content-wrapper {
      @include layout-content-sidebar();
      > .node--sidebar {
        position: relative;
        z-index: z(content, sidebar);
      }
    }


    @include a2a-kit();

    .field--name-field-intro-copy {
      font-size: rem-calc(18);
      margin-bottom: 1rem;
      p:first-child {
        &:first-letter {
          color: $secondary-color-dark;
          font-size: rem-calc(56);
          line-height: 0.8;
          font-weight: 700;
          float: left;
          margin: 0 4px 0 0;
          text-transform: uppercase;
        }
      }

    }

    .field--name-field-intro-copy,
    .field--name-body {
      ul,
      ol {
        list-style-position: inside;
        margin-left: 10px;
        @include breakpoint(marge) {
          margin-left: 30px;
        }
        @include breakpoint(large) {
          margin-left: 50px;
        }
      }
    }
    .field--name-field-p-insight,
    .field--name-field-p-form {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;
      @include breakpoint(marge) {
        margin-left: -30px;
      }
      @include breakpoint(large) {
        margin-left: -35px;
        margin-bottom: 40px;
      }
      @include breakpoint(xlarge) {
        margin-left: -40px;
        margin-right: -40px;
      }
    }
    .field--name-field-p-insight,
    .field--name-field-p-form {
      @include breakpoint(marge) {
        margin-top: -180px;
      }
      @include breakpoint(large) {
        margin-top: -205px;
      }
      @include breakpoint(xlarge) {
        margin-top: -235px;
      }
    }

    .field--name-field-p-related-insights,
    .field--name-field-author {
      margin-bottom: 25px;
      @include breakpoint(marge) {
        margin-bottom: 65px;
      }
    }
    .field--name-field-references {
      font-size: rem-calc(12);
      font-style: italic;
    }

  }

  &.node--view-mode-unlocked {
    position: relative;
    z-index: z(content, base);

    @include top-border;

    > .node--content-wrapper {
      @include content-width(default);
      padding-top: 40px;
      margin-bottom: 40px;
      @include breakpoint(marge) {
        padding-top: 85px;
        margin-bottom: 85px;
      }
    }

    .title {
      text-align: center;
      margin-bottom: rem-calc(20);
    }

    .message {
      text-align: center;
      border-top: 1px solid $lighter-gray;
      @include content-width(narrow);
      @include top-bottom(padding, rem-calc(40));
    }
  }

  &.node--view-mode-teaser {
    .node--image {
      position: relative;
      margin-bottom: 5px;
      .field--name-field-insight-type {
        position: absolute;
        left: 15px;
        top: 15px;
        @include insight-label();
      }
      .field--name-field-teaser-image {
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        .paragraph--type--summary-insights & {
          max-height: 100px;
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: $black;
          opacity: 0.1;
        }
        img {
          width: 100%;
          .paragraph--type--summary-insights & {
            margin-top: -40px;
          }
        }
      }
    }
    .node--content {
      h5 {
        font-weight: 700;
        a {
          color: $dark-gray;
        }
      }
      .date {
        font-size: rem-calc(13);
      }
    }
  }

  &.node--view-mode-featured {
    @include breakpoint(marge) {
      display: flex;
      justify-content: space-between;
    }
    .node--image {
      position: relative;
      max-width: 470px;
      @include breakpoint(medium down) {
        margin: 0 auto 20px;
      }
      @include breakpoint(marge) {
        width: 46%;
      }
      .field--name-field-insight-type {
        position: absolute;
        left: 22px;
        top: 22px;
        @include insight-label();
      }
      .field--name-field-teaser-image {
        @include frame($secondary-color-light, 1px, 10px, 3px);
        img {
          border-radius: 3px;
        }
      }
    }
    .node--content {
      @include breakpoint(marge) {
        width: 47%;
        max-width: 480px;
      }
      h2 {
        margin-bottom: 0.6em;
      }
      .field--name-field-intro-copy {
        font-size: rem-calc(14);
      }
    }
  }

}
