////
/// Blocks
////

.block-page-banner {
  .header-banner-plain {
    background: $secondary-color-dark;
    .header-banner-plain__content {
      @include content-width(default);
      color: $white;
      @each $bp, $size in $banner-spacing {
        $size: rem-calc($size);
        @include breakpoint($bp) {
          @include top-bottom(padding, $size);
        }
      }
      .date {
        display: block;
        font-size: rem-calc(13);
        line-height: 2;
      }
      h1 {
        color: inherit;
        max-width: 600px;
        margin: 5px 0 0;
        font-size: rem-calc(26);
        @include breakpoint(medium) {
          font-size: rem-calc(35);
        }
        @include breakpoint(large) {
          margin: 10px 0 0;
        }
      }
    }
  }
}


#block-startaconversationfooter {
  .paragraph--type--simple-content,
  .paragraph--type--link-form-modal {
    @include paragraph-margins((small: 0));

    > .paragraph-content {
      @include content-width(full);
      text-align: left;
      max-width: none;
    }
  }

  .paragraph--type--simple-content {
    .field--name-field-description p {
      font-size: rem-calc(32);
      font-weight: $global-weight-light;
      line-height: 40px;
    }
  }

  .paragraph--type--link-form-modal {
    @include top-bottom(margin, rem-calc(16));
    a {
      @include btn(white-with-hover);
    }
  }
}
