////
/// Card Browser
////

.card-catalog {

  .card-list {
    @include content-width(default);
  }

  // Filters
  .filters {
    position: relative;
    text-align: left;
    @include top-bottom(padding, rem-calc(50));

    @include breakpoint(marge) {
      padding-right: rem-calc(50);
    }

    .content {
      position: relative;
      z-index: z(above);
    }

    .filter-title {
      font-size: rem-calc(14);
      font-weight: $global-weight-bold;
      color: $light-gray;
    }

    .filter--category {
      display: flex;
      input[type=checkbox] {
        display: none;

        &:checked + span {
          background: $secondary-color-dark;
          color: $white;
        }
      }

      label {
        margin-right: rem-calc(8);

        &:last-child {
          margin-right: 0;
        }

        span {
          display: block;
          background: $white;
          text-align: center;
          border-radius: 5px;
          font-size: rem-calc(13);
          padding: rem-calc(20);
          border: $lighter-gray solid 1px;
          cursor: pointer;

          @include selectors(active){
            background: $secondary-color-dark;
            color: $white;
            font-weight: $global-weight-bold;
          }
        }
      }
    }
  }

  // Card Overview
  .card-list {
    /* Cards */
    > .cards {
      padding-bottom: rem-calc(50);
    }

    .count {
      font-size: rem-calc(13);
      text-align: left;
      margin-bottom: rem-calc(16);
    }
  }

  .no-results {
    text-align: left;
  }

  .load-more {
    @include btn(blue);
    cursor: pointer;
  }

  // Selected Cards Area
  .selected-cards {
    background-image: $blue-gradient;
    position: fixed;
    width: 100%;
    z-index: z(just-above);
    transition: all 1s;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    height: rem-calc(80);
    padding: 30px 0;
    top: rem-calc(48);

    @include breakpoint(medium) {
      height: rem-calc(140);
      padding: 30px 0;
    }

    @include breakpoint(marge) {
      top: rem-calc(120);
    }

    @include breakpoint(large) {
      height: rem-calc(190);
      padding: 40px 0;
    }

    &.slide-enter-active,
    &.slide-leave-active {
    }

    &.slide-enter,
    &.slide-leave-to {
      transition: all 0.5s;
      height: 0;
      padding: 0;
    }

    .content-wrapper {
      @include content-width(wide);
      max-width: rem-calc(1400);
    }

    .content {
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: space-between;

      & > .cards {
        @include tk-block-grid(6, '.card', $gutter: 15px);
        flex-grow: 1;

        .card {
          margin-bottom: 0;
          img {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .marketo-modal-cta-link {
      @include btn(ghost-white);
      cursor: pointer;
    }
  }
}


// Card Styles
.card {
  position: relative;

  .media {
    position: relative;
  }


  input[type=checkbox] {
    display: none;
  }

  .card-title {
    font-size: rem-calc(20);
    font-weight: $global-weight-bold;
  }

  .features {
    padding: 25px 0 25px;
    position: relative;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }

    .content {
      @include breakpoint(marge) {
        display: flex;
      }

      & > div {
        flex: 1;
        margin-right: rem-calc(16);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .benfits {
      margin-top: rem-calc(16);

      @include breakpoint(marge) {
        margin-top: 0;
      }

      ul {
        list-style: none;
        margin-left: rem-calc(24);

        li {
          position: relative;
          margin-bottom: rem-calc(4);
          font-size: rem-calc(14);

          @include icon-before(checkmark){
            color: $primary-color;
            min-width: rem-calc(20);
            text-align: left;
            top: 5px;
            left: rem-calc(-24);
            position: absolute;
          }
        }
      }
    }

    .top-level-info {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      background: white;
      padding-right: 5px;
    }

    .type {
      background: $primary-color;
      padding: 3px 8px;
      border-radius: 3px;
      color: $white;
      font-size: rem-calc(11);
      font-weight: $global-weight-bold;

      &.prepaid {
        background: $secondary-color-light;
      }

      &.omnicode {
        background: $tertiary-color;
      }
    }

    .cost {
      padding: 0 3px 0 7px;
      color: $secondary-color;
      font-weight: $global-weight-bold;
    }
  }

  // Main Overview
  .card-list & {
    .card-overview {
      min-height: 100px;
      position: relative;
      z-index: 2;

      @include breakpoint(medium) {
        display: flex;
      }

      & > .content {
        @include left-right(padding, rem-calc(20));
        padding-bottom: rem-calc(36);
        @include breakpoint(medium) {
          @include left-right(padding, 0);
          padding-bottom: 0;
        }
      }

      .media {
        margin-bottom: rem-calc(24);
        display: flex;

        @include breakpoint(medium) {
          width: rem-calc(300);
          margin-right: rem-calc(24);
          margin-bottom: 0;
        }

        @include breakpoint(marge) {
          width: rem-calc(180);
        }

        @include breakpoint(large) {
          width: rem-calc(300);
        }

        .media-content {
          position: relative;
          width: 75%;
          margin: 0 auto;
          @include breakpoint(medium) {
            width: 100%;
            margin: 0;
          }
        }
        img {
          width: 100%;
        }
      }

      .card-title {
        margin-bottom: rem-calc(30);
      }

      .content {
        text-align: left;
        flex: 1;
      }
    }
  }

  .all-cards & {
    padding: rem-calc(24 24 24 0);
    margin-bottom: rem-calc(24);

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - 100px);
      width: 100%;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
      bottom: 0;
      right: 0;
      z-index: 1;

      @include breakpoint(medium) {
        width: calc(100% - 200px);
        height: 100%;
      }

      @include breakpoint(marge) {
        width: calc(100% - 120px);
      }

      @include breakpoint(large) {
        width: calc(100% - 200px);
      }
    }

    .heart {
      @include btn(blue);
      position: absolute;
      bottom: 0;
      left: rem-calc(16);
      cursor: pointer;

      @include breakpoint(medium) {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
      }
    }
  }

  // Selected
  .selected-cards & {
    max-width: 300px;
    .heart {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 6%;
      right: 6%;
      background-image: url(img-get('svg/heart-active.svg'));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }
  }
}