////
/// Card Browser
////

.card-catalog {

  .card-list {
    @include content-width(default);
    @include breakpoint(marge) {
      display: flex;
    }
  }

  // Filters
  .filters {
    position: relative;
    text-align: left;
    @include top-bottom(padding, rem-calc(50));

    @include breakpoint(marge) {
      flex: 0 0 rem-calc(320);
      padding-right: rem-calc(50);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(100% + 60px);
      left: rem-calc(-30);
      right: rem-calc(-30);
      background-image: $gray-gradient;

      @include breakpoint(marge) {
        width: 9600px;
        right: 0;
        left: auto;
      }
    }

    .content {
      position: relative;
      z-index: z(above);
    }

    .filter-title {
      font-size: rem-calc(20);
      font-weight: $global-weight-bold;
      color: $secondary-color-dark;
    }

    .box-filter {
      padding: rem-calc(20);
      background: $white;
      box-shadow: 0 5px 15px rgba(153, 153, 153, 0.15);
      border-bottom: $lighter-gray solid 1px;

      &:last-child {
        border-bottom: none;
      }

      &.content {
        display: none;
        @include breakpoint(marge) {
          display: block;
        }
      }

      .filter--category {
        label {
          &:last-child {
            input {
              margin-bottom: 0;
            }
          }
        }
        @include breakpoint(marge down) {
          display: flex;
          flex-wrap: wrap;
          label {
            margin-right: rem-calc(20);
            &:last-child {
              margin-right: 0;
            }
          }
        }

      }

      .description{
        h3 {
          color: $medium-gray;
          font-size: rem-calc(13);
        }

        p {
          font-size: rem-calc(13);
        }
      }
    }

    .filter--type {
      @include tk-flex-block-grid(2, 'label', $gutter: 16px, $bottom-gutter: 16px);
      margin-bottom: rem-calc(32);

      @include breakpoint(medium only) {
        @include tk-flex-block-grid(4, 'label', $gutter: 16px, $bottom-gutter: 16px);
      }

      input[type=radio] {
        display: none;
      }

      label span {
        display: block;
        background: $white;
        text-align: center;
        border-radius: 5px;
        font-size: rem-calc(13);
        @include top-bottom(padding, rem-calc(20));
        box-shadow: 0 5px 15px rgba(153, 153, 153, 0.15);
        cursor: pointer;

        @include selectors(active){
          background: $secondary-color-dark;
          color: $white;
        }
      }

      label.selected span {
        background: $secondary-color-dark;
        color: $white;
      }
    }
  }

  // Card Overview
  .card-list {
    /* Cards */
    > .cards {
      @include top-bottom(padding, rem-calc(50));
      flex-grow: 1;

      @include breakpoint(marge) {
        padding-left: rem-calc(50);
      }
    }

    .count {
      font-size: rem-calc(13);
      text-align: left;
      margin-bottom: rem-calc(16);
    }
  }

  .no-results {
    text-align: left;
  }

  .load-more {
    @include btn(blue);
    cursor: pointer;
  }

  // Selected Cards Area
  .selected-cards {
    background-image: $blue-gradient;
    position: absolute;
    width: 100%;
    z-index: z(just-above);
    transition: all 1s;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    height: rem-calc(80);
    padding: 30px 0;
    top: rem-calc(48);

    @include breakpoint(medium) {
      height: rem-calc(140);
      padding: 30px 0;
    }

    @include breakpoint(marge) {
      top: rem-calc(120);
    }

    @include breakpoint(large) {
      height: rem-calc(190);
      padding: 40px 0;
    }

    &.slide-enter-active,
    &.slide-leave-active {
    }

    &.slide-enter,
    &.slide-leave-to {
      transition: all 0.5s;
      height: 0;
      padding: 0;
    }

    .content-wrapper {
      @include content-width(wide);
      max-width: rem-calc(1400);
    }

    .content {
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: space-between;

      & > .cards {
        @include tk-block-grid(6, '.card', $gutter: 15px);
        flex-grow: 1;

        .card {
          margin-bottom: 0;
          img {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .marketo-modal-cta-link {
      @include btn(ghost-white);
      cursor: pointer;
    }
  }
}


// Card Styles
.card {

  .media {
    position: relative;
  }

  .heart {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6%;
    right: 6%;
    background-image: url(img-get('svg/heart.svg'));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }


  input[type=checkbox] {
    display: none;
  }

  .card-title {
    font-size: rem-calc(20);
    font-weight: $global-weight-bold;
  }

  .features {
    border-bottom: $lighter-gray 2px solid;
    border-top: $lighter-gray 2px solid;
    padding: 25px 0 15px;
    position: relative;

    .content.boolean {
      @include tk-flex-block-grid(2, '.feature', $gutter: 16px, $bottom-gutter: 10px);
    }

    .feature {
      font-size: rem-calc(13);
      &.icon {
        @include icon-before(times);
        position: relative;

        &:before {
          color: $lighter-gray;
          min-width: rem-calc(20);
          text-align: left;
          top: 2px;
          position: relative;
        }

        &.true {
          @include icon-before(checkmark);

          &:before {
            text-align: left;
            color: $primary-color;
          }
        }
      }

    }

    .top-level-info {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      background: white;
      padding-right: 5px;
    }

    .type {
      background: $primary-color;
      padding: 3px 8px;
      border-radius: 3px;
      color: $white;
      font-size: rem-calc(11);
      font-weight: $global-weight-bold;

      &.prepaid {
        background: $secondary-color-light;
      }

      &.omnicode {
        background: $tertiary-color;
      }
    }

    .cost {
      padding: 0 3px 0 7px;
      color: $secondary-color;
      font-weight: $global-weight-bold;
    }
  }

  // Main Overview
  .card-list & {
    .card-overview {
      min-height: 100px;
      margin-bottom: rem-calc(48);

      @include breakpoint(medium) {
        display: flex;
      }

      .media {
        margin-bottom: rem-calc(24);
        display: flex;

        @include breakpoint(medium) {
          width: rem-calc(300);
          margin-right: rem-calc(24);
          margin-bottom: 0;
          //align-items: center;
        }

        @include breakpoint(marge) {
          width: rem-calc(180);
        }

        @include breakpoint(large) {
          width: rem-calc(300);
          //align-items: flex-start;
        }

        .media-content {
          position: relative;
          width: 50%;
          @include breakpoint(medium) {
            width: 100%;
          }
        }
        img {
          width: 100%;
        }
      }

      .card-title {
        margin-bottom: rem-calc(30);
      }

      .content {
        text-align: left;
        flex: 1;


        .view-details {
          cursor: pointer;
          @include link(blue);
          margin-top: rem-calc(20);
        }
      }
    }
  }

  // Detail Modal
  &.card-modal {
    text-align: left;

    .card-info {

      @include breakpoint(medium) {
        display: flex;
      }

      .media {
        flex: 1;
        margin-bottom: rem-calc(24);
        @include breakpoint(medium) {
          margin-right: rem-calc(24);
          margin-bottom: 0;
        }
      }

      .content {
        flex: 2;
      }
    }

    .description {
      font-size: rem-calc(14);
    }

    .features {
      margin: rem-calc(32 0);

      .content.boolean {
        @include tk-flex-block-grid(1, '.feature', $gutter: 16px, $bottom-gutter: 10px);

        @include breakpoint(medium) {
          @include tk-flex-block-grid(3, '.feature', $gutter: 16px, $bottom-gutter: 10px);
        }
      }

      .feature {
        .value {
          color: $primary-color;
          font-weight: $global-weight-bold;
          min-width: rem-calc(35);
          display: inline-block;
        }

        .label {
          font-weight: $global-weight-normal;
          margin-right: 4px;
        }
      }

      .varied {
        margin-top: rem-calc(32);
        @include breakpoint(medium) {
          @include tk-flex-block-grid(3, '.feature', $gutter: 16px, $bottom-gutter: 10px);
        }

        .feature {
          margin-bottom: rem-calc(4);

          @include breakpoint(medium) {
            margin-bottom: 0;
          }
        }

        &:before {
          position: absolute;
          top: 3px;
          width: 100%;
          background: red;
          display: block;
        }
      }
    }

    .marketo-modal-cta-link {
      @include btn(blue);
      cursor: pointer;
      margin-left: auto;
      margin-right: 0;
      display: block;
    }
  }

  // Selected
  .selected-cards & {
    max-width: 300px;
    .heart {
      background-image: url(img-get('svg/heart-active.svg'));
    }
  }

  &.selected {
    .heart {
      background-image: url(img-get('svg/heart-active.svg'));
    }
  }
}