////
/// Magnific Popup
////


.mfp-content {
  .card-modal {
    width: 90%;
    max-width: 600px;
    background: $white;
    margin: auto;
    padding: rem-calc(40);
    position: relative;
  }
}

