////
/// Magnific Popup
////

.mfp-close-btn-in .mfp-close {
  right: 13px;
  top: 9px;
  color: $dove-colored;
  font-size: rem-calc(34);
  opacity: .9;

  @include selectors('active') {
    opacity: 1;
  }
}

.mfp-content {
  > div {
    position: relative;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-modal {
    width: 90%;
    max-width: rem-calc(700);
    background: $white;
    margin: auto;
    padding: rem-calc(20);
    position: relative;

    @include breakpoint(medium) {
      padding: rem-calc(40);
    }
  }
}

