////
/// Header
////

.region-header {
  background: $body-background;
  box-shadow: 0 2px 10px rgba($black, 0.05);
  z-index: z(header, base);
  height: 48px;
  @include breakpoint(large) {
    height: $header-height;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    .toolbar-horizontal & {
      top: 39px;
    }
    .toolbar-horizontal.toolbar-tray-open & {
      top: 79px;
    }
  }
  .region-inner {
    @include content-width(1370px);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(large) {
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .block-system-branding-block {
      .site-name {
        a {
          display: block;
          text-indent: -9999px;
          width: 150px;
          height: 18px;
          background-image: url(img-get('svg/logo.svg'));
          background-size: contain;
          @include breakpoint(large) {
            width: 281px;
            height: 38px;
          }
        }
      }
    }
    .menu-toggle {
      @include hamburger($secondary-color-dark, $secondary-color-dark, 22px, 16px, 2px);
      text-indent: -9999px;
      order: 3;
      @include breakpoint(large) {
        display: none;
      }
    }

    // Utility menu
    .menu--utility {
      display: none;
      &[id=block-utility--2] {
        display: block;
        padding: 15px 32px 0;
      }
      @include breakpoint(large) {
        &[id=block-utility--2] {
          display: none;
        }
        display: block;
        padding-bottom: 11px;
        margin-bottom: 25px;
        width: 100%;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          width: 100vw;
          height: 1px;
          background: $lighter-gray;
        }
      }
      ul.menu {
        margin: 0;
        list-style: none;
        @include breakpoint(large) {
          display: flex;
          justify-content: flex-end;
        }
        li {
          font-size: rem-calc(13);
          @include breakpoint(marge down) {
            margin-bottom: 12px;
          }
          @include breakpoint(large) {
            margin-left: 20px;
          }
          a {
            color: $medium-gray;
            @include breakpoint(large) {
              padding: 0 3px;
            }
            @include selectors(active) {
              color: $secondary-color;
            }
          }
          span {
            font-weight: 700;
            color: $secondary-color;
          }
        }
      }
    }

    // Main menu
    .menu--main {
      @include breakpoint(marge down) {
        position: fixed;
        z-index: z(header, menu);
        right: 0;
        top: 48px;
        background: $white;
        box-shadow: -2px 2px 5px rgba($black, 0.05);
        height: calc(100% - 48px);
        width: 85%;
        min-width: 280px;
        max-width: 500px;
        transform: translateX(100%);
        transition: transform 500ms;
        .toolbar-vertical &,
        .toolbar-horizontal & {
          top: 87px !important;
          height: calc(100% - 87px);
        }
        .toolbar-horizontal.toolbar-tray-open & {
          top: 127px !important;
          height: calc(100% - 127px);
        }
        .menu-open & {
          transform: translateX(0);
          overflow-y: auto;
        }
      }
      ul.menu {
        list-style: none;
        margin: 0;
      }
      > ul.menu {
        &.menu-level-0 {

          @include breakpoint(large) {
            display: flex;
            position: relative;
            z-index: z(header, menu);
          }
          > li {
            @include breakpoint(marge down) {
              padding-left: 22px;
              padding-right: 45px;
            }
            @include breakpoint(large) {
              margin-left: 30px;
            }
            &.menu-item--expanded {

              > .menu-dropdown {
                @include breakpoint(marge down) {
                  overflow: hidden;
                  max-height: 0;
                  transition: max-height 500ms;
                  padding-left: 10px;
                }
                @include breakpoint(large) {
                  display: none;
                  position: absolute;
                  z-index: z(header, menu);
                  left: 0;
                  top: calc(100% + 26px);
                  background: $white;
                  box-shadow: 0 10px 15px rgba($black, 0.1);
                  padding: 35px;
                }
              }
              &.active {
                @include breakpoint(marge down) {
                  background: rgba($lighter-gray, 0.4);
                }
                > .menu-dropdown {
                  @include breakpoint(marge down) {
                    max-height: 1000px;
                  }
                  @include breakpoint(large) {
                    display: block;
                  }
                }
                > a {
                  &:after {
                    transform: rotate(-180deg);
                  }
                  @include breakpoint(large) {
                    &:before {
                      left: 0;
                      right: 20px;
                    }
                  }
                }
              }
              > a {
                position: relative;
                padding-right: 15px;
                &:after {
                  @include icon(arrow-down);
                  font-size: 10px;
                  color: color(default, light);
                  margin-left: 5px;

                  transition: transform 250ms;
                }
                @include breakpoint(large) {
                  padding-right: 20px;
                  &:after {
                    position: absolute;
                    right: 0;
                    bottom: 4px;
                  }
                  &:before {
                    content: '';
                    position: absolute;
                    left: calc(50% - 10px);
                    bottom: -14px;
                    right: calc(50% + 10px);
                    height: 3px;
                    background: linear-gradient(-45deg, $secondary-color-light 0%, $secondary-color 100%);
                    transition: left 250ms, right 250ms;
                  }
                }
              }
            }
            > a {
              font-size: rem-calc(15);
              font-weight: 300;
              @include breakpoint(marge down) {
                padding: 12px 10px;
                border-bottom: 1px solid #f1f1f1;
                display: block;
              }
              @include breakpoint(large) {
                color: $dark-gray;
                font-size: rem-calc(16);
                line-height: 1.5;
                font-weight: 700;

                &:hover {
                  color: $medium-gray;
                }
              }
            }
          }
        }
        .menu-level-1 {
          @include breakpoint(marge down) {
            margin-top: 10px;
          }
          @include breakpoint(large) {
            display: flex;
          }
          > li {
            @include breakpoint(large) {
              min-width: 260px;
              margin-right: 40px;
              &:last-child {
                margin-right: 0;
              }
            }
            > span {
              display: none;
            }
          }
        }
        .menu-level-2 {
          > li {
            margin-bottom: 15px;
            @include breakpoint(large) {
              margin-bottom: 25px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .field--name-field-media-image {
              display: none;
              @include breakpoint(large) {
                display: block;
                order: 0;
                width: 85px;
                margin-right: 15px;
                float: left;
              }
            }

            .field--name-field-description {
              font-size: rem-calc(11);
              @include breakpoint(large) {
                font-size: rem-calc(13);
                overflow: hidden;
              }
              p {
                margin: 0;
                line-height: 1.45;
              }
            }
            .field--name-field-cta {
              @include breakpoint(marge down) {
                display: none;
              }
              @include breakpoint(large) {
                margin-top: 20px;
              }
            }
            .menu-dropdown {
              &.view-mode-featured {
                > a {
                  @include breakpoint(large) {
                    font-size: rem-calc(20);
                    margin-bottom: 10px;
                    font-weight: 300;
                    display: inline-block;
                    vertical-align: top;
                  }
                }
              }

              > a {
                font-size: rem-calc(12);
                line-height: 1.5;
                font-weight: 700;
                color: $secondary-color;
                @include breakpoint(large) {
                  font-size: rem-calc(14);
                }
              }

            }
          }
        }
      }
    }

  }
}
