//
// Colors
//

$colors: (
  default: (
    default: #89ae43, // Hawk Green
    light: #a4cd29,
    lighter: #e9fe77,
  ),
  secondary: (
    default: #0065BD, // Hawk Blue
    dark: #005B82,
    light: #6bcec9
  ),
  tertiary: (
    default: #e4773a, // Orange
  ),
  violet: (
    default: #653279,
  ),
  gray: (
    default: #6b6b6b,
    dark: #4a4a4a,
    light: #bdbdbd,
    lighter: #e5e5e5,
  ),
);



$primary-color: color(default, default);
$primary-color-light: color(default, light);
$primary-color-lighter: color(default, lighter);
$secondary-color: color(secondary, default);
$secondary-color-light: color(secondary, light);
$secondary-color-dark: color(secondary, dark);
$tertiary-color: color(tertiary, default);
$violet-color: color(violet, default);

$light-gray: color(gray, light);
$lighter-gray: color(gray, lighter);
$medium-gray: color(gray, default);
$dark-gray: color(gray, dark);

$dove-colored: #6bcec9;

$gray-gradient: linear-gradient(135deg, rgba(244, 244, 244, 0.4) 0%, rgba(228, 228, 228, 0.4) 100%);
$green-gradient: linear-gradient(135deg, rgba(180, 203, 77, 0.9) 0%, rgba(67, 132, 29, 0.9) 100%);
$blue-gradient: linear-gradient(135deg, $secondary-color-light 0%, $secondary-color 100%);
$blue-gradient-reverse: linear-gradient(135deg, $secondary-color 0%, $secondary-color-light 100%);

$bg-colors: (
  green: $primary-color,
  blue: $secondary-color,
  gray: $gray-gradient
);

$overlays: blue, green, navy, orange, purple;
