////
/// General theme configuration.
/// @group Configuration
////

/// Configuration for Drupal Admin tabs.
$drupal-tabs: (
  wrap: (
    background: #fafafa,
    border: #efefef
  ),
  link: (
    color: #251923,
    background: #efefef,
    hover-color: #ffffff,
    hover-background: #251923
  ),
  alt-colors: #b6c4c5 #575642 #4c4650 #251923
);

/// z-index organization.
/// See links below for more information.
///
/// @link https://css-tricks.com/handling-z-index/
/// @link http://www.sitepoint.com/using-sass-maps/
$z-layers: (
  skip-link: 8000,
  ajax-throbber: 7000,
  debug: 1000,
  just-above: 10,
  above: 1,
  default: 0,
  under: -1,
  bottomless-pit: -9999,

  header: (
    base: 50,
    menu: 60
  ),
  banner: (
    base: 1,
    overlay: 3,
    image: 4,
    content: 5
  ),
  content: (
    base: 5,
    sidebar: 7
  ),
  video-modal: (
    base: 1,
    overlay: 3,
    play: 5,
    flourish: 7
  )
);

/// Button config
$buttons: (
  _base: (
    background: slategray,
    color: #fff,
    active-background: darken(slategray, 10%),
    active-color: #fff,
  ),
  blue: (
    background: linear-gradient(-45deg, $secondary-color-light 0%, $secondary-color 100%),
    color: $white
),
  white: (
    background: $white,
    color: $primary-color
  ),
  white-with-hover: (
    extend:white,
    color: $secondary-color,
    active-border: transparent,
    active-background: #2a5b7c,
    active-color: $white
  ),
  ghost: (
    background: $white,
    border: transparent,
    color: $black,
    active-border: transparent,
    active-background: transparent,
    active-color: $white,
    gradient: linear-gradient(-45deg, $secondary-color-light 0%, $secondary-color 100%),
  ),
  ghost-white: (
    background: transparent,
    border: $white,
    color: $white,
    active-border: $white,
    active-background: $white,
    active-color: $secondary-color,
  ),
);

/// Link config
$links: (
  _base: (
    color: $secondary-color,
    font-weight: 700,
    active-color: $secondary-color-light,
  ),


  default: (
    color: $secondary-color,
    background: linear-gradient(-45deg, $secondary-color-light 0%, $secondary-color 100%),
    font-weight: 700,
    active-color: $secondary-color-light,
    active-background: linear-gradient(-45deg, $secondary-color 0%, $secondary-color-light 100%),
  ),

  blue: (
    extend: _base
  ),

  white: (
    extend: _base,
    color: $white,
    active-color: $secondary-color-light,
  )
);


/// Layouts
$layouts: (
  _base: (
    width: $global-width,
    gutters: (
      small: 20px,
      medium: 30px
    )
  ),
  default: (
    extend: _base
  ),
  narrow: (
    extend: _base,
    width: $global-width-narrow,
  ),
  wide: (
    extend: _base,
    width: $global-width-wide,
  ),
  full: (
    width: 100%,
    gutters: (
      small: 0px,
      medium: 0px
    )
  )
);
