{#
/**
 * @file card.html.twig
 * Default theme implementation to present Card data.
 *
 * This template is used when viewing Card pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_card()
 *
 * @ingroup themeable
 */
#}

{% set card_identifier = card_id ? card_id : '' %}

{% set rendered_content = content|without('') %}

<div{{ attributes.addClass('card') }} data-card-id={{ card_identifier }}>
  {{ rendered_content }}
</div>
