<?php

$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ item.db_name }}',
      'username' => '{{ item.db_user }}',
      'password' => '{{ item.db_pass }}',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

